body{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  overflow-x : hidden;
}

.container{
  flex:1;
}

/* Navbar */
.navbar{
    background-color:white;
}

.fa-compass{
    color:#fe424d;
    font-size:2rem;
}

.nav-link{
    color:#222222 !important
}

.search-form{
   height:3.5rem;
   color:white;
   padding-right:8px;
   border:1px solid rgba(0,0,0,0.2);
   border-radius:2rem;
}

.search-btn,.search-btn:hover{
    background-color:#fe424d;
    color:white;
    border-radius:50%;
    margin:0.3rem 0.1rem;
}
    
.search-input{
    width:30%;
    height:min-content;
    border-radius:2rem;
    text-align:center;
    border:none;
}


/* footer */
.f-info{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    height:8rem;
    background-color:#ebebed;
}

.f-info-links a{
   margin-left:0.5rem;
   text-decoration:none;
   color:#222222;
}

.f-info-links a:hover{
    text-decoration:underline;
}


.f-info-socals,.f-info-links,.f-info-brand{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.f-info-socals i{
    font-size:1.3rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
}

/* cards */
.listing-card{
    margin-bottom:2rem;
    border:none;
    margin-left:0.5rem;
}

.card-img-top{
    width:100%;
    border-radius:1rem;
    object-fit:cover;
}

.card-text p{
    font-weight:400;
    text-transform:capitalize;
}

.card-text b,.title,.card-body p{
    text-transform:capitalize;
}

.card-img-overlay{
  text-align:right;
  opacity:0;
}

.card-img-overlay:hover{
  opacity:0.3;
  background-color:white;
}

.listing-link,a{
    text-decoration:none;
}

.filter{
    color:black;
}
/* new and edit  */
.add-btn,.edit-btn{
    background-color:#fe424d;
    border:none;
}

/* show page */
.show-img{
    height:40vh;
    margin-left:5%;
    width:90%;
    object-fit:cover;
}

.btns{
    display:flex;
    align-items:center;
}
.show-btn{
    margin-left:1rem;
}

.error{
    display:flex;
}

.error > img{
    height:2.2rem;
    width:2.2rem;
    margin-right:1rem;
}

.filters{
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
}

.category-filters{
    display:flex;
    flex-wrap:nowrap;
    overflow-x:scroll;
    scrollbar-width: none;
}
.filter{
    text-align:center;
    margin-right:1.5rem;
    margin-top:1rem;
    opacity:0.7;
}

.filter:hover,.tax-toggle:hover{
    opacity:1;
}
.filter p{
    font-size:0.8rem;
}

.tax-toggle{
    margin-left:auto;
    opacity:0.7;
    padding:0.8rem;
    border:1px solid black;
    border-radius:1rem;
    width:max-content;
    margin-left:1rem;
}

.tax-toggle .form-check-label{
    width:max-content;
}
.card-text > i{
    visibility:hidden;
}

/* map */
#map{
    height:250px;
    margin-bottom:4rem;
}

/* responsiveness */
@media  screen and (min-width:768px){
   .search-box-first{
      display:none;
   }

    .search-box-second{
      width:50%;
    }
}

@media  screen and (max-width:768px) and (min-width:516px){
   .search-box-first{
      width:75%;
      margin-right:auto;
   }

    .search-box-second{
      display:none;
    }
}

@media  screen and (max-width:515px){
   .search-box-first{
      display:none;
   }

   .filters{
     flex-wrap:wrap;
   }

   .tax-toggle{
     margin:1rem 0;
   }
}
